<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public.css">
    <title>LIVE OPS ENGINE PROJECT</title>
</head>
<body>
    <div class="main_container">
        <div class="main_header">
            <h1>Gaming coupons</h1>
            <div>
                <a href="./register">Register</a>
                <a href="./Login">Login</a>
                <a href="./Login">Logout 📤</a>
            </div>
        </div>
        <div class="home_offer_search">
            <form action="/search" method="GET">
                <input type="text" name="search" placeholder="Search offers...">
                <button class="btn_search" type="submit">Search</button>
            </form>
        
        </div>
        <div class="home_body">
            

        </div>
    </div>
</body>
</html>