<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public.css">
    <title>LIVE OPS ENGINE PROJECT</title>
</head>
<body>
    <div class="main_container">
        <div>
            <div class="main_header">
                <h1>Gaming coupons</h1>
            </div>
            <div class="main_body">
                <div class="body_container">
                    <h1>Login Form</h1>
                    <form action="/login" method="POST">
                        <div>
                            <input type="email" name="email" placeholder="example@gmail.com"><br><br>
                            <input type="password" name="password" placeholder="password" required><br><br>
                        </div>
                        <button class="btn" type="submit">Login</button><br><br>
                    </form>
                    <div class="not_register">
                        Not register? <a href="register">Signup now</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>