<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public.css">
    <title>LIVE OPS ENGINE PROJECT</title>
</head>
<body>
    <div class="main_container">
        <div class="main_header">
            <h1>Gaming coupons</h1>
        </div>
        <div class="main_body">
            <div class="body_container">
                <h1>Signup Form</h1>
                <form action="/register" method="POST">
                    <div>
                        <input type="text" name="name" placeholder="Madan gowda"><br><br>
                        <input type="email" name="email" placeholder="example@gmail.com"><br><br>
                        <input type="password" name="password" placeholder="password" required><br><br>
                    </div>
                    <button class="btn" type="submit">Login</button>
                </form><br><br>
                <div class="not_register">
                    Already register? <a href="./Login">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>